.counter{
    background-color: black;
    color: white;
    padding: 3rem;
    margin:3rem;
    font-size: 36px;
};
.counterBox{
    background-color: rgb(46, 44, 44);
    margin: 1px white solid;
    
};